
header {
  /* border: 1px dotted black; */
  margin-bottom: 20px;
}

header .logo {
  margin: 20px auto;
  width: 250px;
  height: 250px;
}

header img {
  width: 100%;
  height: 100%;
}

header .desc {
  margin-left: 40px;
  font-size: 3em;
}



 /* Style the s that are used to open and close the accordion panel */
 .menuIcon {
   background-color: transparent;
   padding: 20px;
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.3em;
  cursor: pointer;
}

/* Add a background color to the  if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.menuIcon.active, .menuIcon:hover {
  background-color: #FFA111;
}

/* Style the accordion panel. Note: hidden by default */
div.menuList {
  padding: 0 18px;
  display: none;
} 

.menuList ul{
  list-style-type: none;
}